<template name="signup">
	{{isLogin}}
	<form id="signup-form">
		<h4>New User?</h4>
		<div class="form-group">
			<input class="form-control input-sm" id="username" name="username" placeholder="Username">
		</div>
		<div class="form-group">
			<input class="form-control input-sm" id="email" name="email" placeholder="E-mail">
		</div>
		<div class="form-group">
			<input class="form-control input-sm" id="fullname" name="fullname" placeholder="Full Name (Optional)">
		</div>
		<div class="form-group">
			<input class="form-control input-sm" id="password" name="password" placeholder="Password" type="password">
		</div>

		<button type="submit" class="btn btn-info fullbutton" id="signup">Sign up</button>
	</form>
</template>